@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Squada+One&display=swap');

* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid red; */
}

body {
    background: #191815;
    /* background: linear-gradient(-120deg, rgba(36, 44, 48, 0.9) 0%, #191815 100%); */
    /* font-family: 'Squada One', cursive; */
}

/* links */
.links {
    position: fixed;
    left: 2.5rem;
    bottom: 0;
    z-index: 100;
}

.links>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-icons {
    display: flex;
    flex-direction: column;
}

.link-icons>svg {
    margin: 0.5rem 0;
}

.links-line {
    height: 120px;
    width: 5px;
    background-color: #ffc815;
}

/* about */

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 1rem auto;
}

.logo>div {
    width: 60%;
    background-color: #ffc815;
    color: #3b3a37;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a span {
    color: #ffc815;
    margin-right: 0.2rem;
}

nav ul a {
    text-decoration: none;
    color: #3b3a37;
    margin-right: 0.9rem;
}

.about_content {
    width: 80%;
    margin: 5rem auto;
    color: #f1f0eb;
}





.bouncing-text {
    position: relative;
    display: flex;
    font-size: 9rem;
    letter-spacing: -8px;
    line-height: 1.1;
    /* text-transform: capitalize; */
    font-family: arial black;
    /* font-family: 'Montserrat', sans-serif; */
    cursor: pointer;
    /* transform: scale(0.6,-10); */
    text-shadow: -20px 10px 10px rgb(0 0 0 / 30%), 0 20px 50px rgb(0 0 0 / 30%);
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-55px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    58% {
        transform: scale(1, 1) translateY(-7px);
    }

    65% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.s {
    animation: bounce 1s ease 1;
}

.a {
    animation: bounce 1s ease 1 .1s;
}

.m {
    animation: bounce 1s ease 1 .2s;
}

.h {
    animation: bounce 1s ease 1 .3s;
}

.i {
    animation: bounce 1s ease 1 .4s;
}

.t {
    animation: bounce 1s ease 1 .5s;
}

.h2 {
    animation: bounce 1s ease 1 .6s;
}

.jumping {
    animation: c 2s infinite alternate forwards cubic-bezier(.175, .885, .32, 1.275);
}

.jumping>div {
    opacity: 1;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition: .25s cubic-bezier(.175, .885, .32, 2.275) .35s;
}

@keyframes c {

    0%,
    to {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }

    25%,
    75% {
        text-shadow: -5px 2px 2px rgba(0, 0, 0, .3), 0 5px 12px rgba(0, 0, 0, .3);
        transform: matrix(1.1, 0, 0, .8, 0, 0)
    }

    50% {
        transform: matrix(.8, 0, 0, 1.2, 0, 0) translateY(-10px);
        text-shadow: -40px 20px 20px rgba(0, 0, 0, .3), 0 40px 100px rgba(0, 0, 0, .3)
    }
}



/* role */
.my_name>p {
    margin: 1rem 0;
    font-weight: 900;
    font-size: 1.3rem;
}

.role_line {
    margin-left: 1rem;
    width: 130px;
    height: 4px;
    background-color: #ffc815;
    border-radius: 10px;
}

.role_line2 {
    margin: 1rem 6rem;
    width: 150px;
    height: 4px;
    background-color: #ffc815;
    border-radius: 10px;
}

.about_me p {
    width: 70%;
    margin: 1rem 0;
}

/* mouse overeffect */
/* .ball {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: #ffc815;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .1s ease;
  } */

/* blogs */

.blogs {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 95% 3%;
    grid-row-gap: 2.5rem;
    grid-column-gap: 2%;
    color: #f1f0eb;
    margin: 3rem 0 6rem 0;
    /* gap: 1rem; */
    position: relative;
    /* background-color: red; */
    margin-left: auto;
}

.content1 {
    display: grid;
    width: 60%;
    grid-template-columns: 5% 88%;
    gap: 7%;
    margin-left: auto;
}

.content2 {
    display: grid;
    width: 60%;
    grid-template-columns: 88% 5%;
    /* gap: 7%; */
    margin-left: auto;
}

.blog_img {
    background-color: #f1f0eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
}

.blog_text {
    /* margin-left: auto; */
    /* background-color: red; */
}

.blogs_bg {
    position: absolute;
    left: 10rem;
    top: 1rem;
    font-size: 12rem;
    color: rgba(45, 45, 45, 0.35);
    z-index: -99;
    font-family: arial black;
}


.more_blog {
    grid-area: 1/2/3/3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc815;
}

.more_blog h1 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 1rem 0;
}


/* works */
.works {
    width: 90%;
    margin-left: auto;
    position: relative;
    min-height: 100vh;
    height: 100%;

}

.sidebar {
    position: absolute;
    right: 0;
    width: 6rem;
    height: 90%;
    background-color: #ffc815;
}
.sidebar h1{
    position: absolute;
    right: 1rem;
    writing-mode: vertical-lr;
    font-size: 8rem;
    font-weight: 900;
    color: #3b3a37;
}




/* services */

.services {
    position: relative;
    background: linear-gradient(to left, #191815 40%, #242525 0%);
}

.services>h1 {
    color: #ffc815;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: -8%;
    left: 47.5%;
}

.services_container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 45% 25% 25%;
}

.services_container div h1 {
    display: block;
}

.services_container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    min-height: 2rem;
    background-color: #3b3a37;
    border-radius: 2px;
    text-align: center;
    color: #ffc815;
}

.services_container div:first-of-type {
    grid-area: 1/1/3/2;
    background-color: #242525;
    /* align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center; */
    font-size: 1.3em;
    font-weight: 900;
}






/* photography */
.photography {
    position: relative;
    width: 85%;
    margin-left: auto;
}

.photography>h1 {
    position: absolute;
    left: -2rem;
    top: 4rem;
    writing-mode: vertical-lr;
    transform: rotate(-180deg) scale(1, 1);
    font-size: 8rem;
    font-weight: 900;
    color: #ffc815;
}

.photography_photo img {
    width: 100%;
    object-fit: cover;
}

.photography_content {
    color: #f1f0eb;
    width: 85%;
    margin: 0.5rem 0 0 auto;
    line-height: 1.5;
    padding: 0 1rem;
}

.photography_cover {
    position: relative;
}

.photography_line {
    position: absolute;
    left: 0;
    top: 2rem;
    width: 100%;
}

.aaa {
    width: 100%;
    display: grid;
    grid-template-columns: 84% 15%;
    align-items: center;
}

.xyz {
    height: 8px;
    border-radius: 10px;
    background-color: #3b3a37;
    z-index: 10;
}

.aaa div:last-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aaa div:last-of-type a {
    text-decoration: none;
    color: #f1f0eb;
}