@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

:root {
    --bg: #191815;
    --y1: #ffc815;
    --y2: #F1DF45;

    --f1: clamp(5rem, 7vw + 4rem, 12rem);
    --f2: clamp(3rem, 5vw + 4rem, 8rem);
    --f3: clamp(1rem, 2vw + 2rem, 3.5rem);
    --f4: clamp(0.8rem, 1.5vw + 4rem, 2.2rem);
    --f5: clamp(.6rem, 01vw + 4rem, 1rem);
}


@font-face {
    font-family: 'arialbd';
    src: url('./assets/ariblk.ttf') format('truetype');
}

@font-face {
    font-family: 'impact';
    src: url('./assets/impact.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    background-color: var(--bg);
    font-family: 'Cormorant Garamond', serif;
}


.body_wrapper {
    width: 100%;
}

/* 1.navigation*/

.navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 10vh;
    min-height: 40vh;
    width: 6%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.nav_design {
    background-color: var(--y2);
    width: 0.5vh;
    height: 5.5vh;
}

.nav-btn {
    font-size: var(--f4);
    color: var(--y2);
    font-family: fantasy;
    font-weight: 700;
    letter-spacing: 0.3vh;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.nav_active {
    color: #575656;
    font-size: 8vh;
    transition: color 0.3s ease-in, font-size 0.3s ease-in;
}

/* 2.container */
.container {
    width: 94%;
    margin-left: auto;
}

.header {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    overflow: hidden;
}

.portfolio_bg {
    font-size: var(--f2);
    position: absolute;
    left: -25vh;
    top: 40%;
    font-weight: 900;
    font-family: "impact";
    /* font-family: fantasy; */
    letter-spacing: 2.5vh;
    transform: rotate(-90deg) scale(1, 1.2);
    color: #3b3a37;
    opacity: 0.2;
}

.services {
    position: absolute;
    left: 28vh;
    bottom: 12vh;
    z-index: 1;
}

.domain {
    font-size: var(--f5);
    background-color: #ffc815;
    color: #242525;
    border-radius: 5px;
    margin-block: 2.4vh;
    min-width: 25vh;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.name {
    position: relative;
    min-width: 120vh;
    margin-bottom: 10vh;
    background-color: blue;
}

.name_content {
    position: absolute;
    right: 15vh;
    bottom: 10vh;
    color: #fff;
    z-index: 1;
}

.name_content p {
    font-size: var(--f5);
    color: #888888;
    letter-spacing: 2px;
    font-weight: 900;
}

.profile {
    position: absolute;
    right: 0;
    bottom: 8vh;
}

.bouncing-text {
    font-size: var(--f1);
    display: flex;
    letter-spacing: -8px;
    line-height: 1.1;
    font-family: "arialbd";
    margin-right: 5vh;
    /* font-family: 'Archivo Black', sans-serif; */
    cursor: pointer;
    z-index: 20;
    text-shadow: -20px 10px 10px rgb(0 0 0 / 30%), 0 20px 50px rgb(0 0 0 / 30%);
}

.bouncing-text>div:focus {
    outline: none;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-55px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    58% {
        transform: scale(1, 1) translateY(-7px);
    }

    65% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.s {
    animation: bounce 1s ease 1 0.7s;
}

.a {
    animation: bounce 1s ease 1 0.8s;
}

.m {
    animation: bounce 1s ease 1 0.9s;
}

.h {
    animation: bounce 1s ease 1 1s;
}

.i {
    animation: bounce 1s ease 1 1.1s;
}

.t {
    animation: bounce 1s ease 1 1.2s;
}

.h2 {
    animation: bounce 1s ease 1 1.3s;
}

.jumping {
    animation: c 2s infinite alternate forwards cubic-bezier(.175, .885, .32, 1.275);
}

.jumping>div {
    opacity: 1;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition: .25s cubic-bezier(.175, .885, .32, 2.275) .35s;
}

@keyframes c {

    0%,
    to {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }

    25%,
    75% {
        text-shadow: -5px 2px 2px rgba(0, 0, 0, .3), 0 5px 12px rgba(0, 0, 0, .3);
        transform: matrix(1.1, 0, 0, .8, 0, 0)
    }

    50% {
        transform: matrix(.8, 0, 0, 1.2, 0, 0) translateY(-10px);
        text-shadow: -40px 20px 20px rgba(0, 0, 0, .3), 0 40px 100px rgba(0, 0, 0, .3)
    }
}



.name_design {
    position: relative;
}

.role_line1 {
    position: absolute;
    left: 10vh;
    top: 3vh;
    width: 25vh;
    height: 0.6vh;
    background-color: var(--y1);
    border-radius: 10px;
}

.role_line2 {
    position: absolute;
    left: 25vh;
    top: 6vh;
    width: 25vh;
    height: 0.6vh;
    border-radius: 10px;
    background-color: var(--y1);
}

.profile img {
    max-width: 65vh;
}

.navbar {
    position: absolute;
    left: 25vh;
    top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 4vh;
    letter-spacing: 1.2px;
}

.navbar a {
    font-size: var(--f5);
    text-decoration: none;
    color: #fff;
}

.navbar a:hover,
.navbar a:focus {
    color: var(--y2);
    outline: none;
}

.navbar img {
    max-width: 15vh;
}

.about>p {
    font-size: var(--f5);
    margin-left: auto;
    width: 70%;
    text-align: end;
    color: #bbbbbb90;
    word-spacing: 0.4vh;
    text-align: end;
    line-height: 3.5vh;
    margin-top: -8vh;
    letter-spacing: 0.1vh;
    font-weight: 600;
}


/* 3.works */

.works {
    min-height: 160vh;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 95%;
    margin-left: auto;
}

.works_left {
    display: grid;
    grid-template-rows: 90% 10%;
}

.main_works {
    display: grid;
    grid-template-columns: 80% 20%;
}

.work_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    overflow-y: hidden;
}

.work_card {
    position: relative;
    margin: 0 4vh;
}

.work_card::after {
    content: " ";
    width: 100%;
    height: 100%;
    background: linear-gradient(-5deg, #191815 20%, transparent 70%);
    position: absolute;
    left: 0;
    top: 0;
}

.work_card>img {
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    position: relative;
    z-index: -1;
}


.work_line {
    background-color: #F1DF45;
    height: 180px;
    width: 2px;
    position: absolute;
    right: 2vh;
    bottom: 0;
    z-index: 1;
}

.work_info {
    position: absolute;
    right: 3.5vh;
    bottom: 0vh;
    text-align: right;
    z-index: 1;
}

.work_heading {
    font-size: var(--f3);
    color: #ffc815;
}

.work_desc {
    font-size: var(--f5);
    width: 90%;
    margin: 1vh 0 1vh auto;
    color: #fff;
    text-align: right;
}

.work_tech {
    font-size: var(--f5);
    color: #88878590;
}

.work_icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1vh;
    display: flex;
    gap: 1rem;
    z-index: 1;
    background-color: #191815;
}

.work_icons a,
.work_icons:focus {
    text-decoration: none;
    outline: none;
}

.work_icons a img:hover {
    fill: "red"
}

.work_icons img {
    width: 25px;
}

.cards_design {
    width: 100%;
    height: 160vh;
    position: relative;
}

.cards_design>div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130vh;
    background-color: var(--y1);
}

.cards_design>h1 {
    font-size: var(--f1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'Gelasio', serif; */
    /* font-family: 'Tinos', serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 900;
    color: #242525;
}

.works_about {
    display: none;
}

.works_right {
    position: relative;
}

.works_right_content {
    position: absolute;
    left: 0;
    top: 15.8%;
    width: 100%;
    height: 230vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.works_right_content>* {
    width: 90%;
    margin: 0 auto;
}

.works_right_type1 {
    font-size: var(--f5);
    color: #888888;
    font-weight: 400;
    line-height: 25px;
    word-spacing: 1vh;
}

.works_right_type2 {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.works_right_type2:before {
    content: "";
    position: absolute;
    right: 1rem;
    top: 23vh;
    width: 5px;
    height: 55vh;
    z-index: 100;
    background-color: #F1DF45;
}

.works_right_type2>a {
    font-size: 3.5vh;
    position: absolute;
    right: 2vh;
    bottom: -7vh;
    color: #F1DF45;
    letter-spacing: 3px;
    padding-top: 0.5rem;
    padding-right: 2.4rem;
    font-weight: 900;
    cursor: pointer;
    text-align: end;
    text-decoration: none;
}

.works_right_type2>a:hover>span {
    transition: 0.2s ease-in-out;
    padding-right: 0.8rem;
}

.works_right_type3 {
    position: relative;
    display: flex;
    justify-content: end;
}

.works_right_type3>img {
    width: 80%;
    position: relative;
}

.label_design {
    width: 80%;
    position: relative;
    max-height: 50vh;
    margin-right: auto;
    object-fit: contain;
}

.design_mask {
    position: absolute;
    top: 0;
    margin-left: auto;
    width: 80%;
    height: 100%;
    z-index: 1;
    background-color: #19181570;
}

.design_mask2 {
    position: absolute;
    top: 0;
    margin-right: auto;
    width: 83%;
    height: 100%;
    z-index: 1;
    background-color: #19181570;
}

.graphic_design1 {
    margin: 1vh 0 0 2vh;
    height: 0.4vh;
    width: 15vh;
    background-color: #F1DF45;
}

.graphic_design2 {
    margin: 1.5vh 0 0 8vh;
    height: 0.4vh;
    width: 15vh;
    background-color: #F1DF45;
}

.graphic_design {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%);
    color: var(--y2);
    font: 3vh;
    z-index: 2;
}

.graphic_design h1 {
    font-size: var(--f4);
}

.works_right_type4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.works_right_type4::before {
    font-size: var(--f2);
    content: "BLOGS";
    position: absolute;
    right: -1vh;
    top: -6vh;
    font-family: fantasy;
    font-weight: 900;
    letter-spacing: 25px;
    color: #88888890;
}

.works_right_type4>p {
    font-size: var(--f5);
    word-spacing: 0.8vh;
    color: #c8c8c8;
    line-height: 2.2vh;
    opacity: 0.8;
    text-align: right;
}

.works_right_type4 a {
    font-size: 3.5vh;
    text-decoration: none;
    color: var(--y2);
    margin-left: auto;
    padding: 1rem 0;
    z-index: 1;
}

.work_recent {
    font-size: var(--f2);
    font-family: fantasy;
    letter-spacing: 20px;
    color: #f1f0eb80;
    opacity: 0.1;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    position: absolute;
    left: -2rem;
    top: -10%;
}

.min_proj {
    font-size: var(--f5);
    color: #888888;
    padding: 0.4rem;
    width: 90%;
    min-height: 10vh;
    margin: 0.5rem auto 0.5em 0;
    border-bottom: 2px solid #242525;
    position: relative;
}

.min_proj::before {
    font-size: var(--f3);
    content: attr(data-number);
    position: absolute;
    right: -0.6rem;
    top: 2.4rem;
    font-family: fantasy;
    letter-spacing: 5px;
    opacity: 0.3;
    color: #f1f0eb80;
    z-index: -100;
    font-weight: 900;
}

.min_proj>* {
    padding-right: 2rem;
}

.min_proj>div {
    display: flex;
    justify-content: space-between;
}

.min_proj>div>h5 {
    font-size: var(--f5);
    color: #bbbbbb;
}

.min_proj>div>div {
    display: flex;
    gap: 1rem;
}

.min_proj>div>div img {
    max-width: 20px;
}

